<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.recorddid.mapper.RecordMapper">

    <resultMap id="BaseResultMap" type="com.itheima.recorddid.entity.Record">
            <id property="id" column="id" />
            <result property="recordName" column="record_name" />
            <result property="artist" column="artist" />
            <result property="price" column="price" />
            <result property="coverImg" column="cover_img" />
            <result property="stock" column="stock" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,record_name,artist,price,cover_img,stock,
        create_time,update_time
    </sql>
</mapper>
